.header-container {
  width: 100%;
  background-color: #E6F0FF;
}
.header-container .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header-container .content .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px auto 0px auto;
  width: 1110px;
  height: 40px;
}
.header-container .content .nav-container .logo {
  width: 107px;
  height: 24px;
}
.header-container .content .nav-container .logo img {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
.header-container .content .nav-container .menu-button,
.header-container .content .nav-container .close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.header-container .content .nav-container .menu-button i,
.header-container .content .nav-container .close-button i {
  font-size: 20px;
}
.header-container .content .nav-container .navigation {
  width: 371px;
  height: 21px;
  margin-left: -336px;
}
.header-container .content .nav-container .navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  height: 100%;
}
.header-container .content .nav-container .navigation ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4F5361;
  transition: 0.4s ease-in;
}
.header-container .content .nav-container .navigation ul li a:hover {
  color: #000339;
}
.header-container .content .nav-container .buttons {
  width: 169px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .content .nav-container .buttons p {
  font-size: 14px;
  color: #0F1B4C;
  font-weight: 500;
  cursor: pointer;
}
.header-container .content .nav-container .buttons button {
  width: 98px;
  height: 100%;
  background-color: #0F1B4C;
  border-radius: 12px;
  font-size: 14px;
  align-items: center;
  font-weight: 500;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.header-container .content .content-container {
  width: 1228px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  padding-left: 55px;
}
.header-container .content .content-container__first {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.header-container .content .content-container__first button {
  width: 170px;
  height: 50px;
  background-color: #0F1B4C;
  border-radius: 12px;
  font-size: 14px;
  align-items: center;
  font-weight: 500;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.header-container .content .content-container__first .content-container__first-paragraph-one {
  color: #5A6473;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}
.header-container .content .content-container__first .content-container__first-paragraph-second {
  color: #687690;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
  width: 550px;
}
.header-container .content .content-container__first h1 {
  color: #000336;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  margin-bottom: 30px;
}
.header-container .content .content-container__second {
  margin-top: 50px;
}
.header-container .content .content-container__second img {
  width: 584px;
  height: 619px;
}

.clients-container {
  width: 100%;
  margin-top: 79px;
  margin-bottom: 40px;
}
.clients-container__content {
  width: 1110px;
  margin: 0 auto;
  padding-top: 43px;
}
.clients-container__content__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clients-container__content__flex__col {
  display: flex;
  flex-direction: column;
}
.clients-container__content__flex__col #logo {
  width: 107px;
  height: 24px;
}
.clients-container__content__flex__col #stars {
  align-self: flex-end;
  width: 115px;
  height: 19px;
  margin-bottom: 14px;
}
.clients-container__content__flex__col p {
  color: #7D8589;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.clients-container__content__flex__col #first_text {
  margin-top: 23px;
}
.clients-container__content__flex__col img {
  height: 40px;
}
.clients-container__content__logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  margin: 70px auto 0px auto;
  width: 1090px;
}
.clients-container__content__logos img {
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  width: 10%;
}
.clients-container__content__logos img:hover {
  transform: scale(1.1);
}

.works-container {
  margin-bottom: 41px;
}
.works-container__content {
  width: 685px;
  margin: 79px auto;
}
.works-container__content__first {
  display: flex;
  flex-direction: column;
  width: 459px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.works-container__content__first .divider {
  width: 41px;
  border: 1px solid #000339;
  margin-bottom: 10px;
}
.works-container__content__first h2 {
  margin-bottom: 20px;
  color: #000339;
  color: #000339;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.works-container__content__first p {
  color: #5A6473;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.works-container__content__second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}
.works-container__content__second__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-container__content__second__item img {
  width: 47px;
  height: 48px;
  margin-bottom: 26px;
}
.works-container__content__second__item p {
  color: #3B3C45;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
}
.works-container__content__second__item a {
  color: #0689FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.works-container__content__second__item a:hover {
  transform: scale(1.1);
}
.works-container__content__third {
  text-align: center;
  margin-top: 50px;
}
.works-container__content__third button {
  width: 170px;
  height: 50px;
  background-color: #0F1B4C;
  border-radius: 12px;
  font-size: 14px;
  align-items: center;
  font-weight: 500;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.featured-container {
  width: 100%;
  height: 727px;
  background-color: #F5FAFE;
  margin-bottom: 75px;
}
.featured-container__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.featured-container__content__text {
  width: 1110px;
  height: 82px;
  display: flex;
  flex-direction: column;
  margin: 110px auto 0 auto;
}
.featured-container__content__text h2 {
  color: #000339;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 100% */
}
.featured-container__content__text__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  margin-top: 15px;
}
.featured-container__content__text__item p {
  color: #5A6473;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.featured-container__content__text__item a {
  color: #0689FF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.featured-container__content__text__item a:hover {
  transform: scale(1.1);
}
.featured-container__content__cards {
  width: 1110px;
  height: 357px;
  margin: 68px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.featured-container__content__cards .house-card {
  width: 350px;
  height: 356px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.featured-container__content__cards .house-card:hover {
  transform: scale(1.1);
}
.featured-container__content__cards .house-card img {
  width: 100%;
  height: 227px;
}
.featured-container__content__cards .house-card .card-info {
  margin: 20px auto 0 20px;
}
.featured-container__content__cards .house-card .card-info .price {
  color: #000339;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.featured-container__content__cards .house-card .card-info .description {
  color: #A3A6AB;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 8px;
}
.featured-container__content__cards .house-card .card-info .features {
  display: flex;
  justify-content: space-between;
  width: 289px;
  margin-top: 21px;
}
.featured-container__content__cards .house-card .card-info .features .feature-item {
  display: flex;
  align-items: center;
}
.featured-container__content__cards .house-card .card-info .features .feature-item img {
  width: 20px;
  height: 15px;
}
.featured-container__content__cards .house-card .card-info .features .feature-item p {
  color: #4D4D52;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.14px;
  padding-left: 8px;
}

.neigh-container {
  width: 100%;
  height: 785px;
  margin-bottom: 51px;
}
.neigh-container__content {
  margin: 50px auto;
  width: 1048px;
  height: 685px;
}
.neigh-container__content__main {
  display: flex;
  width: 100%;
  height: 460px;
}
.neigh-container__content__main__img_card {
  display: flex;
  height: 100%;
  width: 520px;
}
.neigh-container__content__main__img_card .users-card {
  width: 239px;
  height: 252px;
  padding-left: 22px;
  margin: 0;
  border-radius: 0px 0px 12px 12px;
  background: #ffffff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
  z-index: 9;
}
.neigh-container__content__main__img_card .users-card__text {
  margin-top: 45px;
}
.neigh-container__content__main__img_card .users-card__text .number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.neigh-container__content__main__img_card .users-card__text .number p {
  color: #000339;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.26px;
}
.neigh-container__content__main__img_card .users-card__text .number svg {
  margin-right: 22.89px;
}
.neigh-container__content__main__img_card .users-card__text p {
  margin-top: 8px;
  width: 194px;
  color: #A7A7A7;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.neigh-container__content__main__img_card .users-card__devider {
  width: 193.62px;
  height: 1.2px;
  background: #E9E9E9;
  margin-top: 25.51px;
}
.neigh-container__content__main__img_card .users-card__users {
  margin-top: 15px;
  width: 189px;
}
.neigh-container__content__main__img_card .users-card__users img {
  width: 202px;
  height: 70px;
  margin-left: -4%;
}
.neigh-container__content__main__img_card__img {
  width: 400px;
  height: 460px;
  margin-left: 120px;
  background-image: url(../assets/assets/images/housemby.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 12px;
}
.neigh-container__content__main__text {
  margin-left: 165px;
  width: 309px;
  height: 326px;
  margin-top: 65px;
  text-align: left;
}
.neigh-container__content__main__text .line {
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}
.neigh-container__content__main__text h2 {
  width: 269px;
  margin-top: 10px;
  color: #000339;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 128.571% */
}
.neigh-container__content__main__text p {
  color: #5A6473;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-top: 20px;
}
.neigh-container__content__countdown {
  width: 985px;
  height: 115px;
  float: right;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}
.neigh-container__content__countdown .counter-item {
  text-align: left;
}
.neigh-container__content__countdown .counter-item .counter {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 24px;
}
.neigh-container__content__countdown .counter-item span {
  color: #7B8087;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.newsletter-container {
  width: 100%;
}
.newsletter-container__content {
  border-radius: 20px;
  border: 1px solid blue;
  background-color: #063183;
  width: 1110px;
  height: 409px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.newsletter-container__content__first {
  margin-left: 80px;
  margin-top: 118px;
  margin-right: 90px;
  width: 407px;
  z-index: 5;
}
.newsletter-container__content__first h2 {
  color: #ffffff;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 15px;
}
.newsletter-container__content__first p {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.newsletter-container__content__first button {
  width: 170px;
  height: 50px;
  color: #002366;
  background-color: #FFF;
  border-radius: 12px;
  font-size: 14px;
  align-items: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.newsletter-container__content__second {
  width: 515px;
}
.newsletter-container__content__second img {
  width: 515px;
  height: 439px;
  margin-top: -31px;
  z-index: 9;
}

.footer-container {
  width: 100%;
  margin-top: 75px;
}
.footer-container__content {
  width: 1110px;
  height: 321px;
  margin: 50px auto;
}
.footer-container__content__menu {
  width: 100%;
  height: 223px;
  display: flex;
  justify-content: space-between;
}
.footer-container__content__menu .menu-item ul {
  list-style-type: none;
}
.footer-container__content__menu .menu-item ul li {
  padding-bottom: 25px;
  color: #7A7A7E;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}
.footer-container__content__menu .menu-item p {
  color: #7A7A7E;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 257px;
}
.footer-container__content__menu .menu-item h3 {
  color: #1C1C1D;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: "Lato";
}
.footer-container__content__menu .menu-item img {
  width: 117px;
  height: 28.471px;
  margin-top: 40px;
  cursor: pointer;
}
.footer-container__content__second {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
}
.footer-container__content__second img {
  width: 107px;
  height: 100%;
}
.footer-container__content__second p {
  color: #C2C2C2;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .header-container {
    width: 100vw;
  }
  .header-container .content {
    width: 100%;
  }
  .header-container .content .nav-container {
    width: 90%;
    margin: 5% auto 0 auto;
    height: 30px;
  }
  .header-container .content .nav-container .navigation {
    margin-left: -3%;
  }
  .header-container .content .nav-container .navigation .buttons {
    width: 1vh;
  }
  .header-container .content .content-container {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    /* margin-left: 0; */
  }
  .header-container .content .content-container__first {
    margin-top: 3%;
    width: 35vw;
  }
  .header-container .content .content-container__first h1 {
    font-size: 4vw;
    line-height: 35px;
    margin-bottom: 21px;
    margin-right: 2%;
  }
  .header-container .content .content-container__first .content-container__first-paragraph-second {
    width: 90%;
    font-size: 1.7vw;
    line-height: 90%;
  }
  .header-container .content .content-container__first button {
    height: 3vh;
    width: 14vw;
    font-size: 1.3vw;
  }
  .header-container .content .content-container__second {
    margin-top: 2%;
    width: 35vw;
    height: 35vh;
  }
  .header-container .content .content-container__second img {
    height: 100%;
    width: 100%;
  }
  .clients-container {
    width: 100%;
  }
  .clients-container__content {
    width: 90%;
  }
  .clients-container__content__logos {
    width: 100%;
  }
  .featured-container {
    width: 100%;
  }
  .featured-container__content {
    width: 90%;
    margin: 0 auto;
  }
  .featured-container__content__text {
    width: 100%;
  }
  .featured-container__content__text__item {
    margin-top: 5px;
  }
  .featured-container__content__cards {
    width: 100%;
  }
  .featured-container__content__cards .house-card {
    width: 30%;
    height: 350px;
  }
  .featured-container__content__cards .house-card img {
    height: 200px;
  }
  .featured-container__content__cards .house-card .card-info {
    margin-top: 7px;
    margin-top: 0 auto 0 9px;
  }
  .featured-container__content__cards .house-card .card-info .features {
    width: 93%;
  }
  .featured-container__content__cards .house-card .card-info .features .feature-item img {
    width: 12px;
    height: 12px;
  }
  .featured-container__content__cards .house-card .card-info .features .feature-item p {
    font-size: 10px;
  }
  .neigh-container {
    width: 100%;
  }
  .neigh-container__content {
    width: 100%;
  }
  .neigh-container__content__main {
    width: 90%;
    margin: 0 auto;
  }
  .neigh-container__content__main__text {
    width: 34%;
  }
  .neigh-container__content__countdown {
    width: 80%;
    float: none;
    margin: 7% auto 0 auto;
  }
  .neigh-container__content__countdown .counter-item .counter {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .newsletter-container {
    width: 100%;
  }
  .newsletter-container__content {
    width: 90%;
    margin: 0 auto;
    height: 350px;
  }
  .newsletter-container__content__first {
    margin-top: 8%;
  }
  .newsletter-container__content__second {
    width: 131%;
  }
  .newsletter-container__content__second img {
    width: 100%;
  }
  .footer-container {
    width: 100%;
    height: auto;
    margin-top: 15%;
  }
  .footer-container__content {
    width: 95%;
    margin: 5% auto;
  }
  .footer-container__content__menu {
    width: 90%;
    margin: 0 auto;
  }
  .footer-container__content__second {
    width: 90%;
    margin: 6% auto;
  }
}
@media only screen and (max-width: 768px) {
  .header-container {
    width: 100%;
  }
  .header-container .content {
    width: 100%;
    margin: 0 auto;
  }
  .header-container .content .nav-container .logo {
    width: 15vw;
    height: 2.5vh;
  }
  .header-container .content .nav-container nav {
    display: none;
  }
  .header-container .content .nav-container .buttons {
    height: 2.5vh;
    width: 25vw;
  }
  .header-container .content .nav-container .buttons p {
    font-size: 2vw;
  }
  .header-container .content .nav-container .buttons button {
    width: 50%;
    font-size: 2vw;
  }
  .header-container .content .content-container {
    width: 100%;
    flex-direction: column;
  }
  .header-container .content .content-container__first {
    width: 100%;
    margin: 13% auto 0 auto;
    text-align: center;
  }
  .header-container .content .content-container__first .content-container__first-paragraph-one {
    width: 100%;
    align-self: center;
    font-size: 2.5vw;
  }
  .header-container .content .content-container__first h1 {
    margin-bottom: 2%;
    line-height: 20px;
  }
  .header-container .content .content-container__first .content-container__first-paragraph-second {
    width: 50%;
    align-self: center;
    margin-bottom: 2%;
    font-size: 2vw;
  }
  .header-container .content .content-container__first button {
    height: 2vh;
    align-self: center;
  }
  .header-container .content .content-container__second {
    height: 30vh;
    margin: 0 auto;
  }
  .clients-container {
    height: fit-content;
  }
  .clients-container__content {
    margin: 0 auto;
  }
  .clients-container__content__flex {
    flex-direction: column;
    align-items: center;
  }
  .clients-container__content__flex__col {
    align-items: center;
  }
  .clients-container__content__flex__col #logo {
    width: 17vw;
    height: 3vh;
  }
  .clients-container__content__flex__col #first_text {
    margin-top: 5%;
    font-size: 3vw;
    margin-bottom: 5%;
  }
  .clients-container__content__flex__col #stars {
    margin-top: 8%;
    width: 17vw;
    align-self: center;
  }
  .clients-container__content__flex__col #second_text {
    font-size: 2.2vw;
  }
  .clients-container__content__logos {
    margin: 0 auto;
  }
  .works-container {
    width: 100%;
    height: fit-content;
  }
  .works-container__content {
    width: 90%;
    margin: 0 auto;
  }
  .works-container__content__first {
    width: 70%;
    margin-bottom: 8%;
  }
  .works-container__content__first h2 {
    font-size: 4vw;
    margin-bottom: 1%;
  }
  .works-container__content__first p {
    font-size: 2vw;
    line-height: 90%;
  }
  .works-container__content__second {
    margin: 0 auto;
    flex-direction: column;
  }
  .works-container__content__second__item {
    margin-bottom: 5%;
  }
  .works-container__content__second__item img {
    width: 20vw;
    height: 13vh;
  }
  .works-container__content__third {
    margin-top: 0;
  }
  .works-container__content__third button {
    width: 17vw;
    height: 3.5vh;
    font-size: 1.5vw;
  }
  .featured-container {
    width: 100%;
    height: fit-content;
  }
  .featured-container__content {
    width: 95%;
    margin: 2% auto;
    align-items: center;
  }
  .featured-container__content__text {
    width: 100%;
    flex-direction: column;
    height: auto;
    align-items: center;
    margin: 5% auto;
  }
  .featured-container__content__text h2 {
    font-size: 4vw;
  }
  .featured-container__content__text__item {
    flex-direction: column;
  }
  .featured-container__content__text__item p {
    font-size: 2vw;
  }
  .featured-container__content__text__item a {
    font-size: 2vw;
  }
  .featured-container__content__cards {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .featured-container__content__cards .house-card {
    width: 90%;
    height: 20vh;
    margin-bottom: 3vh;
    display: flex;
  }
  .featured-container__content__cards .house-card img {
    height: 100%;
    width: 50%;
  }
  .featured-container__content__cards .house-card .card-info {
    width: 45%;
    padding: 2%;
    margin: 5% auto;
  }
  .featured-container__content__cards .house-card .card-info .features {
    width: 100%;
  }
  .featured-container__content__cards .house-card .card-info .features img {
    width: 1vw;
    height: 1vh;
  }
  .featured-container__content__cards .house-card .card-info .features p {
    font-size: 1vw;
  }
  .neigh-container {
    height: fit-content;
  }
  .neigh-container__content {
    height: fit-content;
    margin: 0 auto;
  }
  .neigh-container__content__main {
    flex-direction: column;
    height: fit-content;
  }
  .neigh-container__content__main__img_card {
    margin: 0 auto;
    height: 100%;
  }
  .neigh-container__content__main__img_card__img {
    height: 43vh;
    width: 50vw;
  }
  .neigh-container__content__main__text {
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 40% auto 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .neigh-container__content__main__text .line {
    align-self: center;
  }
  .neigh-container__content__main__text h2 {
    width: 100%;
  }
  .neigh-container__content__countdown {
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    margin: 5% auto;
  }
  .neigh-container__content__countdown .counter-item {
    margin: 0 auto;
    text-align: center;
  }
  .neigh-container__content__countdown .counter-item .counter {
    font-size: 7vw;
    margin-bottom: 1%;
  }
  .neigh-container__content__countdown .counter-item span {
    font-size: 2vw;
  }
  .newsletter-container {
    height: fit-content;
  }
  .newsletter-container__content {
    height: 30vh;
  }
  .newsletter-container__content__first {
    margin-top: 10%;
    width: 50%;
  }
  .newsletter-container__content__first h2 {
    font-size: 2.5vw;
    width: max-content;
    line-height: 10px;
  }
  .newsletter-container__content__first p {
    font-size: 1.5vw;
    width: 100;
  }
  .newsletter-container__content__first button {
    width: 60%;
    height: 15%;
    font-size: 1.2vw;
  }
  .newsletter-container__content__second {
    height: 35vh;
  }
  .newsletter-container__content__second img {
    height: 100%;
  }
  .footer-container {
    width: 100%;
  }
  .footer-container__content {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .footer-container__content__menu {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    text-align: center;
  }
  .footer-container__content__menu .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
  }
  .footer-container__content__menu .menu-item h3 {
    font-size: 4.5vw;
    margin-bottom: 2.5vh;
  }
  .footer-container__content__menu .menu-item ul li {
    font-size: 3.5vw;
    padding-bottom: 3.5%;
  }
  .footer-container__content__menu .menu-item p {
    font-size: 3.5vw;
    width: 70%;
  }
  .footer-container__content__menu .menu-item img {
    width: 40%;
    height: 5%;
  }
}
/* @media only screen and (min-width: 320px) and (max-width: 480px) {}
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  src: url(../fonts/lato-v24-latin-regular.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}